        <div ng-controller="SearchProfilesCtrl as search">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <span>Github Profile Viewer</span>
                </div>
            </md-toolbar>
            <md-content>
                <md-input-container>
                    <label>Search GitHub Profiles</label>
                    <input type="text" ng-model="search.searchUsername">
                </md-input-container>
                <md-button class="md-raised" ng-click="search.searchProfiles()">Search</md-button>
                <md-list>
                    <md-list-item ng-repeat="result in search.searchResults">
                        <a ng-href="/#!/profile/{{ result.login }}">{{ result.login}}</a>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>